.cards {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw 2vh 5vw;
    background-color: $light-grey;
}
.cards h2 {
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.card {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 3vh;
    @include shadow;
    &__new::after {
        color: darken($third-color, 35%);
        font-size: 1.5em;
        font-weight: bold;
        z-index: 2;
        content: "Nouveau";
        margin-top: 15px;
        margin-right: 15px;
        padding: 6px 14px;
        border-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $third-color;
    }
}
.bottom {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 50vw; 
    object-fit: cover;
    object-position: bottom;
    &__page {
        overflow: hidden;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 100%;
    }
}
.top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 50vw; 
    object-fit: cover;
    object-position: 0% 60%;
    &__page {
        object-fit: cover;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 100%;
        height: 40vh;
    }
}
.fa-heart {
    padding-top: 15px;
    padding-right: 35px;
    &__page {
        padding-top: 11px;
        position: relative;
        &::before {
            position: absolute;
            right: 35px;
        }
        &::after {
            position: absolute;
        }        
    }     
    &:hover {
        &::after {
            opacity: 1;
        }
        &::before {
            opacity: 0;
        }
    }
    &::after {        
        position: absolute;
        right: 35px;
        transition: opacity 600ms ease-in-out;
        opacity: 0;
        content: "\f004";
        font-weight: bold;
        background: linear-gradient(189deg, $primary-color 20%, $secondary-color 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;             
    }
    &::before {
        transition: opacity 600ms ease-in-out;
    }
    
}
.card h4 {
    font-size: 1.9em;
    padding-top: 10px;
    padding-left: 15px;
}
.card p {
    font-size: 1.6em;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
}
@media #{$tab} {
    .fa-heart__page {
        padding-top: 22px;
    }
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 40vw;
    }
    .bottom {
        height: 25vw;
    }
    .top {
        height: 25vw;
    }
    .cards h2 {
        margin-right: 80%;
    }
}
@media #{$mobgrand} {
    .bottom__page {
        height: 40vh;
        object-fit: cover;
        object-position: 0% 80%;
    }
    .top__page {
        height: 40vh;
        object-position: 0% 65%;
    }
}
@media #{$screen} {
    .card {
        width: 20vw;
    }
    .bottom {
        height: 12vw;        
    }  
    .top {
        height: 12vw;
    }
    .bottom__page {
        height: 70vh;
        object-position: 0% 90%;
    }
    .top__page {
        height: 70vh;
        object-position: 0% 65%;
    }
}