@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  25% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1, 1);
    opacity: .25;
  }
  75% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes pad {
  0% {
    padding-right: 0px;
  }
  100% {
    padding-right: 60px;
  }
}
@keyframes padinverse {
  0% {
    padding-right: 60px;
  }
  100% {
    padding-right: 0px;
  }
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
