@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  25% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1, 1);
    opacity: .25;
  }
  75% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes slide-in-right {
  0% {
    transform: scaleX(0) translateX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1) translateX(-17vw);
    opacity: 1;
  }
}
@keyframes marge {
  0% {
    margin-right: 0vw;
  }
  100% {
    margin-right: 14vw;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}