$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$light-grey: #F6F6F6;
$grey: #eaeaea;
$middle-grey: rgba(53,53,53,0.3);
$dark-grey: #353535;
$gradient: $primary-color, $secondary-color;
$anim-dur: 3000ms;
$anim-delay: $anim-dur / 10;
$mobgrand: "only screen and (min-width: 460px)";
$tab: "only screen and (min-width: 660px)";
$tabgrand: "only screen and (min-width: 850px)";
$screen: "only screen and (min-width: 1200px)";