.background {
    background-color: $grey;
    overflow: hidden;
    padding-bottom: 3vh;
}
.pagemaintitre {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: -8vh;
    padding: 4vh 7vw 2vh 7vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $grey;
}
.pagemenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7vw;
    margin-right: 5vw;
}
.entree {
    width: 30%;
    min-width: 390px;
}
.plat {
    width: 30%;
    min-width: 390px;
}
.dessert {
    width: 30%;
    min-width: 390px;
}
.h2__page {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 5px;
}
hr {
    margin: 0;
    width: 12%;
    height: 3px;
    background-color: $third-color;
    border: none;
}
.h4__page {
    font-size: 1.9em;
    padding-bottom: 0.7vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.containermenu {
    opacity: 0;
    display: flex;    
    padding-right: 2vw;
    overflow: hidden;
    width: 86vw;
    max-width: 390px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    background-color: white;
    border-radius: 15px;
    @include shadow;
    animation: opacity $anim-dur forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }        
    }    
}
.menudetail__detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.menudetail__p {
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;     
    padding-right: 15px;        
}
.menudetail__prix {
    font-weight: bold;
}
.menudetail {    
    width: 86vw;
    max-width: 390px;    
    padding: 10px;
    background-color: white;   
    animation: padinverse 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;    
    &:hover { 
        animation: pad 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;              
        & + .menucoche {
            transform: translateX(-60px);
            & > .fa-check-circle {
                animation: fa-spin 0.5s linear forwards;
            }
        }        
    }
}
.menucoche {
    margin-right: -116px;
    font-size: 2.3em;    
    background-color: $third-color;
    color: white;   
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.5s ease-in-out;     
}
@media #{$mobgrand} {
    .pagemaintitre {
        justify-content: start;
    }
    .pagemenu__h1 {
        margin-right: 9vw;
    }
}