.background {
    background-color: $grey;
    overflow: hidden;
}
.pagemaintitre {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: -8vh;
    padding: 4vh 5vw 2vh 5vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $grey;
}
.pagemenu {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    //background-color: $grey;
    //padding: 0vh 5vw 4vh 5vw;
}
.h2__page {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 5px;
}
hr {
    margin: 0;
    width: 12vw;
    height: 3px;
    background-color: $third-color;
    border: none;
}
.h4__page {
    font-size: 1.8em;
    padding-bottom: 0.7vh;
}
.containermenu {
    display: flex;
}
.menudetail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 15px 10px 15px 10px;
    background-color: white;
    border-radius: 10px;
    @include shadow;
    &__p {
        display: flex;
        justify-content: space-between;   
        font-size: 1.4em;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 15px;
    }
    &__prix {
        font-weight: bold;
    }
    &:hover {
        animation: marge 0.8s ease-in-out both;
        //animation: marge 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        & + .menucoche {
            animation: slide-in-right 0.8s ease-in-out both;
            //animation: slide-in-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            }
        & > .iconemenu  {
            animation: rotate 0.8s ease-in-out both;
        }       
    }
}
.iconemenu {
    display: inline-block;    
}
.h4__page {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.menucoche {
    opacity: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: -18vw;
    font-size: 2.3em;    
    background-color: $third-color;
    color: white;   
    padding: 26px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    @include shadow;
}



